:root {
  --primary: #F2D544;
  --secundary: #313A40;
  --thrid: #A60321;
  --fourth: #F2C166;
  --fifth: #F2D06B;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: var(--fifth);
  font-family: 'Poppins', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, var(--secundary)), color-stop(200%, var(--fifth)));
  background: linear-gradient(to right bottom, var(--secundary) 50%, var(--fifth) 200%);
  height: 800px;
}

.header {
  font-weight: bold;
  opacity: 1;
}

.header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 5px;
}

.header .nav-bar h1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.2rem;
  margin-left: 5px;
  font-weight: 300;
}

.header .nav-bar .bar-icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 5%;
  top: 3.5%;
  background-color: var(--primary);
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.header .nav-bar .bar-icon_container .nav-bar__icon {
  font-size: 1.6rem;
  color: var(--secundary);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.welcome {
  margin-top: 40px;
  padding: 0px 5%;
}

.welcome h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--primary);
}

.welcome p {
  margin-top: 10px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
}

.welcome .welcome__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome .welcome__social-media .social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.welcome .welcome__social-media .social-media__list a {
  font-size: 1.8rem;
  font-weight: 400;
  height: 35px;
  width: 200px;
  color: var(--primary);
  background-color: var(--secundary);
  -webkit-box-shadow: 1px 1px 15px var(--thrid);
          box-shadow: 1px 1px 15px var(--thrid);
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
}

@media screen and (min-width: 600px) {
  .header .nav-bar {
    margin-left: 8%;
  }
  .header .nav-bar .bar-icon_container {
    right: 15%;
    width: 100px;
  }
  footer {
    width: 80%;
    margin: 0 auto;
  }
  .admin-message .form-feedback {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .admin-message .form-feedback .admin-message__input {
    margin: 0px 30px;
  }
  .admin-message .form-feedback .admin-message__btn {
    width: 100px;
  }
}

.video-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.video-chat .video-chat__btn {
  width: 150px;
  background-color: var(--primary);
  border-radius: 5px;
}

.video-chat .video-chat__btn .btn-tittle {
  font-weight: 600;
  color: var(--secundary);
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}

.admin-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 40px 0px;
}

.admin-message .form-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-message .form-feedback .admin-message__tittle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px 5px;
}

.admin-message .form-feedback .admin-message__input {
  background: var(--primary);
  width: 200px;
  outline: none;
}

.admin-message .form-feedback .admin-message__btn {
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px;
  background: var(--thrid);
  color: var(--primary);
}
/*# sourceMappingURL=main.css.map */