.kifup-logo-words{

    margin: 0px !important;
    top: 10px;
}

.img__header{
    top: 25px;
}

.u-enable-responsive .menu-collapse a{
    position: relative;
    right: -20px;
    
}

.room-container{

    width: 100%;
    min-height: 600px;
    height: auto;
    padding: 20px;
}

.room__header{
    height: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-room__header{
    height: 40px;
    margin: 5px 6px;
    width: 46%;
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px black;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    color: black;
    line-height: 35px;
}

.btn-wap{

    width: 100%;
}

.btn-buy{
    background-color: #FFDD00;
}

.btn-room__header:hover{
    background-color: black;
    color: white;
}

.room__body{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

.btn-start{
    background-color: #e85f63;
    color: white;
    border: none;
    height: 40px;
    width: 50px;

}

.btn-start:hover{
    background-color: #89d0ca;
    cursor: pointer;
}

.room{
    border: solid black .5px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    height: 180px;
    margin: 10px 0px;
    border-radius: 10px;
    background: white;
    transition: 0.5s ease;
     -moz-transition: 0.5s ease; /* Firefox */
     -webkit-transition: 0.5s ease; /* Chrome - Safari */
     -o-transition: 0.5s ease; /* Opera */
}

.room:hover{
    transform : scale(1.1);
    -moz-transform : scale(1.1); /* Firefox */
    -webkit-transform : scale(1.1); /* Chrome - Safari */
    -o-transform : scale(1.1); /* Opera */
    -ms-transform : scale(1.1); /* IE9 */
    box-shadow: 2px 2px 20px 2px  black;
}

.room__container{

    display: flex;
    align-items: center;
    height: 60%;
    padding: 0px 8px;
}


.room-icon{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}



.room-text__container{

    width: 80%;
    height: 100%;
    padding: 2px 8px;
}


.room-level{
    width: 100%;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    color: #89d0ca;
    font-weight: bold;
}

.room-description{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
}

.btn__join-room{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #89d0ca;
    margin: 0 auto;
    background: transparent;
    cursor: pointer;
    color: #89d0ca;
}

.btn__join-room:hover{
    background: #89d0ca;
    color: white;
}


.gif-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.div-video{
    position: relative !important;
    height: 600px;
}


.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 95% !important;
	height: 300px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 80%;
	margin-bottom: 20px;
	height: 40px;
	font-size: 16px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
    width: 50%;
	line-height: 40px;
	border: none;
	color: white;
	background: #89d0ca;
	border-radius: 3px;
	font-size: 14px;
	cursor: pointer;
	transition: .3s ease all;
    position: relative;
    top: 15px;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.level-list{
    margin-bottom: 10px;
    text-align: center;
    height: 40px;
    width: 80%;
    outline: none;
    border: none;
}

.disclaimer{
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tittle-welcome{
    font-size: 20px;
    text-align: center;
    color: #89d0ca !important;
    font-weight: bold !important;
    margin: 0px !important;
}

.sub-tittle-welcome{
    font-size: 16px;
    margin: 5px 0px 0px 0px !important;
}

#videosdk-frame{
    height: 110%;
    width: 100%;
    margin-top: 10px;
}

.popup-gif{
    height: auto;
}



#visibility, #visibility2, #visibility3, #visibility4, #visibility5, #visibility6 {
    margin-top: 50px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}



@media screen and (min-width: 600px){

    .btn-room__header{
        width: 30%;
    }

    .room__header{
        padding: 0 15%;
    }

    .room{
        width: 40%;
    }

    .btn__join-room{

        width: 50%;
    }

    #videosdk-frame{
        height: 73%;
        width: 100%;
    }
}

@media screen and (min-width: 1000px){

    .room{
        width: 30%;
    }

    .room-level{

        font-size: 16px;
    }

    .room-description{

        font-size: 14px;
    }

    .room-icon{

        width: 80px;
        height: 80px;
        margin-left: 20px;
    }

    .popup {

        width: 40%;
    }

    .tittle-welcome{
        font-size: 35px;
        text-align: center;
        color: #89d0ca !important;
        font-weight: bold !important;
    }

    .sub-tittle-welcome{
        font-size: 30px;
    }

    #visibility{

        margin-top: 40px;
    }

    .popup-gif img{
        height: 500px;
    }

}

@media screen and (min-width: 1200px){

    .room__header{
        margin-top: -50px;
        margin-bottom: 100px;
        
    }
}


@media screen and (min-width: 1400px){

    #videosdk-frame{
        margin-top: 20px;
        height: 130%;
    }

    #visibility input, #visibility2 input, #visibility3 input, #visibility4 input, #visibility5 input, #visibility6 input{
        width: 500px !important;
    }


}

@media screen and (min-width: 2500px){

    #videosdk-frame{
        margin-top: 20px;
        height: 130%;
    }


}

